.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tokenBox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 1100px;
}
