body {
  margin: 0;
  font-family: 'Apercu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Apercu';
  font-weight: 900;
  src: local('Apercu'), url(./Fonts/Apercu-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Apercu';
  font-weight: 500;
  src: local('Apercu'), url(./Fonts/Apercu-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Apercu';
  font-weight: 400;
  src: local('Apercu'), url(./Fonts/Apercu-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Apercu';
  font-weight: 200;
  src: local('Apercu'), url(./Fonts/Apercu-Light.woff2) format('woff2');
}